################CLIENT####################

Client/.gradle
Client/*.iml
Client/local.properties
Client/*.idea
Client/.DS_Store
Client/build
Client/captures
Client/.externalNativeBuild
Client/.cxx

#########SERVER##########################

Server/*.idea
Server/venv
Server/__pycache__
Server/photos