################CLIENT####################

*.iml
Client/app/build
Client/.gradle
Client/local.properties
Client/*.idea
Client/.DS_Store
Client/build
Client/captures
Client/.externalNativeBuild
Client/.cxx

#########SERVER##########################

Server/*.idea
Server/venv
Server/__pycache__
Server/photos